#preloader{
    background: #000 url(../img/preloader.gif) no-repeat center center;
    background-size: 30%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-image: url(../img/wallpaperflare.com_wallpaper.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    background-color: black;
    
}
.rectangle{
    max-width: 400px;
    min-width: 1px;
    height: 1px;
    background-color: rgb(255, 255, 255);
}
.maintext{
    padding-top: 350px;
    font-family: 'Courier New', Courier, monospace;
   color: white;
    
}
.smal{
    font-size: 20px;
}
.big{
    font-size: 40px;
}
.buttons{
    display: flex;
    justify-content: center;


}
.firsbut{
    border: 3px solid;
    border-color: black;
    margin-right: 5px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-color: white;
   
}
a {
    color:white ;
}
a:visited {
    color:white ;
}
a:hover {
    color:white ;
}
a:focus {
    color:white ;
}
a:active {
    color: white;
}
.divV{
    transition: 2s;
    opacity: 0.1;
}
.divV:hover{
   transition: 2s;
    opacity: 1;
}

.maintext{
  transition: 10s;
    opacity: 0.1;
}
.maintext:hover{
    transition: 2s;
    opacity: 1;
}
